<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <title>TODO HTMX</title>
</head>
<body>
    <div id="main">
      <h1>HTMX TODO</h1>
        <form hx-put="/add-task" hx-swap="outerHTML" hx-target="#main">
          <div> 
            <input id="task-input" type="text" name="newTask" placeholder="New Task">
          </div>
            <button class="btn">
              Submit
            </button>
        </form>

        <h1> Tasks </h1>
        <div id="tasks-container" hx-get="/get-tasks" hx-trigger="load">
          Loading tasks...
        </div>
      </div>
</body>
</html>
